<template>
    <div class="d-flex justify-content-between align-items-center flex-column mb-4">
        <h1 class="text-center">
            <router-link :to="{name: 'home'}" v-if="link">{{ $t('title') }}</router-link>
            <span v-else>{{ $t('title') }}</span>
        </h1>
        <LanguageSwitch/>
    </div>
</template>

<script>
    import LanguageSwitch from './LanguageSwitch.vue';

    export default {
        components: { LanguageSwitch },
        props: {
            link: { type: Boolean },
        },
    }
</script>